*{
  font-family: bpg_mrgvlovani_2009;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
  font-family: SourceSansProBold,bpg_mrgvlovani_caps;
}
ul li{
 list-style: none;
}

a:hover, a:focus{
	outline: none;
	text-decoration: none;
}
 button:active {
outline: none !important;
border: none!important;
-webkit-box-shadow: none !important;
     box-shadow: none !important;
}

button:focus {outline:0!important;border: 0px!important;}
input:focus,textarea:focus{outline:0!important;}

body{
  background-color: #ebecf0;
}

.slider_section{
  width: 100%;
  height: 90vh;
  position: relative;

}
#carouselFade.carousel-fade .carousel-inner .item{
    height: 90vh;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;

}
#carouselFade.carousel-fade .carousel-inner .item:before,.page_header:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(114,114,116,0.7);
}
.header_section{
	width: 90%;
    height: 130px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 70px;
    background-color: #fff;
    position: absolute;
    top: 30px;
    z-index: 10;
}
.header_section:before{
    content: "";
    width: 100%;
    height: 34px;
    background-color: #f1673a;
    position: absolute;
    top: 0px;
    z-index: 0;
}
.social_icons>ul,.res_lang_bar{
  display: none;
}

.header_contact span{
   display: inline-block;
 font-size: 14px;
 color: #fff;
}
.header_contact_icon{
  width: 30px;
  height: 30px;
  text-align: center;
  color:#fff;
  padding-top: 4px;
}
.header_contact{
  display: inline-block;
  margin-top: 2px;
}
.header_contact:last-child{
margin-left: 30px;
}
.social_icons{
	float: right;
}
.social_icons .hdr_social_icon a{
	display: inline-block;
	color: #fff;
	 height: 34px;
	    width: 38px;
	    color: #fff;
	    font-size: 13px;
	      text-align: center;
	      padding-top: 8px;
}
.social_icons .hdr_social_icon{
	    float: left;
	   
}
.social_icons .hdr_social_icon:first-child{
	background-color: #3b5998;
}
.social_icons .hdr_social_icon:nth-child(2){
	background-color: #d82f2f;
}
.lang_bar ul li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
}
.lang_bar ul li a{
	color: #fbbfab;
	font-size: 13px;
	display: inline-block;
}
.lang_bar ul li a:hover{
	color: #fff;
}
.logo img{
  height: 70px;
    margin-top: 13px;
}
.main_menu{
	float: right;
	margin-top: 20px;
}
.drop_menu{
  position: relative;
}
.drop_menu>a:after{
	content: "\f0d7";
	display: block;
	color: #212121;
	font-family: FontAwesome;
}
.drop_menu:hover ul{
display: block;
 z-index: 50;
}
.drop_menu ul{
	display: none;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #f1673a;
  position: absolute;
  top: 70px;
  padding: 0;
  margin: 0;
   -webkit-transition:0.3s;
    -ms-transition: 0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}
.drop_menu >ul>li>a{
  display: block;
  color: #212121;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
      margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  border-bottom: 1px solid #e9e9e9;
font-family: bpg_mrgvlovani_caps;
}
.drop_menu >ul>li>a:hover{
   border-bottom: 1px solid #f1673a;
  color: #212121;
}
.drop_menu >ul>li:last-child a{
  border-bottom: 0px;
}
 .navbar.main_menu .navbar-nav {
    display: inline-block;
  }
        
 .navbar.main_menu .navbar-collapse {
     text-align: center;
     padding-right: 0;
   }
   
   #navbar > ul > li > a{
  font-size: 15px;
  position: relative;
  font-family: bpg_mrgvlovani_caps;
  color: #212121;
   }
 #navbar>ul>li>a:hover,#navbar>ul>li>a:focus{
    background-color: transparent;
   }
    #navbar > ul > li:last-child >a{
    	padding-right: 0;
    }

   .slider_content {
    width: 90%;
    position: absolute;
    top: 35%;
}
.slider_title{
	font-size: 35px;
	color: #fff;
}
.slider_title:after{
	content: "";
	display: block;
	width: 86px;
	height: 4px;
	background-color: #1acd6f;
	margin-top: 20px;
}
.slider_text{
	height: 56px;
	overflow: hidden;
	font-size: 12px;
	color: #ececec;
	line-height: 1.5;
	margin-top: 20px;
}
.slider_see_more a{
	width: 140px;
	height: 40px;
	display: block;
	background-color: #1acd6f;
	text-align: center;
	color: #fff;
	font-family: bpg_mrgvlovani_caps;
	font-size: 12px;
    border-top-right-radius: 30px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 30px;
    padding-top: 13px;
    margin-top: 45px;
}
.slider_navigation{
	width: 90%;
	position: relative;
}
.slider_icons{
	width: 150px;
    height: 50px;
    background-color: #f1673a;
    position: absolute;
    border-radius: 30px;
    right: 0;
    top: -27px;
}
.slider_bullet.carousel-indicators{
	bottom: 4px;
}
.slider_bullet.carousel-indicators .active{
	width: 10px;
	height: 10px;
}
.slider_bullet.carousel-indicators li{
	margin: 0;
}
#arrow{
     position: absolute;
    top: 14px;
    z-index: 5;
    width: 150px;
  }
#arrow li{
    padding-top: 3px;
    list-style-type: none;
    cursor: pointer;
    color: #fff;
    opacity: 1;
    font-size: 15px;
    position: absolute;
  }
  
  #arrow li.left{
    text-align: right;
  
  }
   #arrow li.right{
    text-align: left;
  }
    #arrow .carousel-control.right{
    	background-image: none;
    }
    #arrow .carousel-control.left{
    	background-image: none;
    }
    .page_content{
    	margin-top: 20px;
    }
  
    .section_intro h1 a,.about_text h1{
      color: #212121;
      font-size: 25px;
      font-family: bpg_mrgvlovani_caps;
      font-weight: bold;
    }
    .section_intr2 .kera_text{
      text-align: right;
    }
        .section_intr2 h1 a{
             display: block;
            width: 100%;
            text-align: right;
        }
        .section_intro.section_intr2 h1 a:after{
           position: absolute;
          right: 19px;
        }

     .section_intro h1 a:after,.about_text h1:after{
      content: "";
      width: 65px;
      height: 3px;
      background-color: #f1673a;
      display: block;
     }
    .section_image{
    	width: 100%;
    	height: 304px;
    	border-radius: 10px;
    	overflow: hidden;
	   -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
	 background-repeat: no-repeat;
      background-position: center center;
    }
    .kera_text,.kera_text p, .kera_text a, .kera_text ul li{
      font-size: 13px;
      color: #717171;
      line-height: 1.8;
    }
  .section_intro .kera_text{
    height:142px;
    overflow: hidden;
    margin-top: 30px;
  }
  .section_intro a.section_dtl{
    float: right;
    width: 150px;
    height: 40px;
    display: block;
    background-color: #f1673a;
    color: #fff;
     font-family: bpg_mrgvlovani_caps;
     font-size: 15px;
         padding-top: 12px;
    margin-top: 31px;
     text-align: center;
     border-radius: 6px;
  }
  .page_section{
       margin-top: 70px;
       margin-bottom: 78px;
  }

.map_section{
  width: 100%;
  height: 490px;
  margin-top: 90px;
      background-repeat: no-repeat;
      background-position: right center;
}
.map_section_title{
  width: 100%;
  height: 490px;
}
.map_section_title h1{
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.map_section_title h1:after{
  content: "";
  width: 85px;
  height: 3px;
  background-color: #f1673a;
  display: block;
}
.map_section_button{
  float: right;
}
.map_section_button a{
   display: block;
   padding: 27px 60px;
   background-color: #1acd6f;
   color: #fff;
   font-size: 15px;
    font-family: SourceSansProBold,bpg_mrgvlovani_caps;
    border-radius: 6px;
}
.product_section{
  margin-top:90px;
  position: relative;
}
.product_section:before{
  content: "";
    width: 80%;
    height: 160px;
    position: absolute;
    left: 0;
    top: 3px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 90px;
    background-color: #f1673a;
}
.product_item{
  width: 100%;
  height: 130px;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
      position: relative;
      border-radius: 6px;
      text-align: center;
        -webkit-filter: grayscale(1); /* Old WebKit */
  filter: grayscale(1);
}
.brikets_item.product_item:before{
  background-color: rgba(255,255,255,0.2);
}
.product_item:before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px;
}
.product_item h3{
  color: #000;
  font-size: 20px;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  font-weight: bold;
}
.section_title{
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  position: relative;
  padding-left: 17px;
}
.section_title:before{
  content: "";
  width: 3px;
  height: 37px;
  background-color: #f1673a;
  position: absolute;
  left: 0;
  top: -5px;
}
.prodict_carusel{
  margin-top: 68px;
}
.all_products{
  float: right;
  padding:16px 32px;
  background-color: #fff;
  border-radius: 50px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
#products{
  margin-top: 50px;
  margin-bottom: 78px;
}
.products_item{
  width: 100%;
  height: 380px;
  background-color: #fff;
  border-radius: 8px;
}
.product_img,.project_img{
  width: 100%;
  height: 270px;
  border-bottom:1px solid #ebecf0;
}
.product_img  img{
  margin:0 auto;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  max-width: 150px;
  max-height: 220px;
}
.product_title,.project_title{
  text-align: center;
}
.product_title h3,.project_title h3{
position: relative;
  color: #000;
  font-size: 17px;
  padding-left: 7px;
  padding-right: 7px;
 word-wrap: break-word;;
}
.project_title h3{
  border-bottom: 1px solid #ebecf0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}
.product_title h3:before{
  content: "";
  width: 40px;
  height: 3px;
  background-color: #f1673a;
  display: block;
  margin:0 auto;
  margin-bottom: 10px;
}
.cat_road ul{
  padding:0;
  margin:0;
}
.cat_road ul li{
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-left:10px;
  color: #999999;
  font-size: 12px;
}
.cat_road ul li:after{
  content: "\f105";
  font-family: FontAwesome;
  color: #999999;
  position: absolute;
  right: -14px;
    top: 1px;
}
.cat_road ul li:last-child:after{
  content: none;
}
.footer{
  width: 100%;
  background-color: #212121;
  /*margin-top: 78px;*/
  position: relative;
} 
.bottom_footer{
  background-color: #fff;
}
.footer_menu .nav > li > a{
  padding: 0;
  color: #ebecf0;
  font-size: 15px;
  font-family: SourceSansProBold,bpg_mrgvlovani_caps;
}
.footer_menu .nav > li{
  margin:30px 22px;
}
.footer_menu .nav > li:first-child{
  margin-left: 0px;
}
 .navbar.footer_menu {
  margin-bottom: 0px;
}
.footer_menu .nav > li > a:hover{
      background-color: transparent;
      color: #f1673a;
}
.bottom_footer{
  padding-top: 22px;
  padding-bottom: 22px;
}
.bottom_footer .logo img{
  height: 55px;
  margin-top: 0;
}
.smart_logo{
  float: right;
  padding-top: 10px
}
.scroll_top{
  width: 112px;
  background-color: #f1673a;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: #212121;
  text-align: center;
     padding-top: 23px;
    padding-bottom: 24px;
  cursor: pointer;
}
.page_header{
  width: 100%;
  height: 304px;
  position: relative;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
}
.page_title{
  width: 100%;
  position: absolute;
  bottom: 26px;
  text-align: center;
}
.page_title h1{
  font-size: 20px;
  color: #fff;
  display: inline-block;
  position: relative;
}
.page_title h1:after,.page_title h1:before{
  content: "";
  width: 3px;
  height: 40px;
  background-color: #f1673a;
  position: absolute;
  top: -8px;
}
.page_title h1:after{
  right: -20px;
}
.page_title h1:before{
  left:-20px;
}
.about_image{
  width: 48%;
  float: left;
  margin-right: 30px;
}
.about_text h1{
  display: inline-block;
}
.about_text .kera_text{
  margin-top: 35px;
}
.about_text2{
  margin-top: 60px;
  margin-bottom: 30px;
}
.about_text2 .kera_text{
  text-align: center;
}
.kera_text h4{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}
.kera_text h4:before{
  content: "";
  width: 28px;
  height:28px;
  background-color: #f1673a;
position: absolute;
    left: -45px;
    top: -9px;
border-top-left-radius: 3px;
border-top-right-radius: 12px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 12px;
}
.page_title ul{
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.page_title ul li{
  display: inline-block;
  margin-left: 14px;
  margin-right: 14px;
  position: relative;
}
.page_title ul li a{
  color: #fff;
  font-size: 12px;
}
.page_title ul li:after{
  content: "\f105";
  font-family: FontAwesome;
  color: #fff;
  position: absolute;
  right: -16px;
}
.page_title ul li:last-child:after{
  content: none;
}
.briket_section{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 23px 20px;
  margin-top: 50px;
  margin-bottom: 78px;
}
.brikets_img{
  width: 95%;
  margin: 0 auto;
  height:295px;
  border:1px solid #e8e8e8;
  border-radius: 8px;
}
.brikets_img img{
  max-width: 180px;
  max-height: 220px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.briket_text h2{
  color: #212121;
  font-size: 25px;
  margin-bottom: 30px;
}
.brikets_item{
  width: 90%;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom: 60px;
}
.brikets_item.product_item:before{
  border:1px solid #ebecf0;
}
.contact_map{
  width: 100%;
  height: 300px;
  background-color: #ebecf0;
}
.contact_form_section{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-bottom: 110px;
}
#map{
  width: 60%;
  float: left;
  height: 300px;
}
.contact_info{
  width: 40%;
  float: left;
  padding-left: 26px;
  height: 300px;
  background-color:#ebecf0; 
}
.contact_info h2{
  font-size: 15px;
  font-weight: bold;
  position: relative;
   padding-left: 70px;
   margin-top: 40px;
}
.contact_info h2:before{
  content: "";
  width: 57px;
  height: 1px;
  background-color: #f1673a;
  position: absolute;
      left: 0;
    top: 6px;
}
.contact_dtl{
  width: 230px;
  margin-left: 70px;
}
.contact_icon{
  width: 30px;
  float: left;
  padding-top:2px; 
}
.info{
     margin-top: 30px;
    width: 100%;
    float: left;
}
.info_dtl{
  font-size: 11px;
  color: #4b4a4a;
  width: 175px;
  float: left;
}
.info_dtl span{
  display: block;
}
.contact_form{
  margin-top: 70px;
}
.contact_form .form-group{
  width: 100%;
  height: 50px;
  border-bottom:1px solid #f4f4f4;
  margin-bottom: 50px;
}
.contact_form .form-group span{
  width: 10%;
  float: left;
  height: 38px;
  text-align: center;
}
.contact_form .form-group span img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.contact_form .form-group input{
  border:0px;
  height: 48px;
  width: 90%;
  float: right;
  background-color: transparent;
}
.contact_form .form-group.contact_textarea{
border-bottom: 0;
height: 150px;
}
.contact_form .form-group.contact_textarea textarea{
border:1px solid #f4f4f4;
border-radius: 3px;
width: 100%;
height: 150px;
padding-top: 22px;
padding-left: 22px;
}
.contact_inp_bg{
  background-color:#f4f4f4;
}
.contact_btn{
  width: 160px;
  height: 45px;
  background-color: #f1673a;
  color: #fff;
  font-size: 13px;
   font-family: SourceSansProBold,bpg_mrgvlovani_caps;
}
.category_list{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}
.category_list ul{
  margin: 0;
  padding: 0;
  margin: 0 auto
}
.category_list>ul>li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border:1px solid transparent;
}
.category_list>ul>li>a{
  color: #212121;
  display: inline-block;
  padding-top:16px;
  padding-bottom: 15px;
  text-align: center; 
  font-size: 12px;
  width: 185px;
  border-radius: 4px;
  background-color: #fff;
    font-family: SourceSansProBold,bpg_mrgvlovani_caps;
}
.category_list>ul>li>a:hover{
  background-color: #f1673a;
}
.category_itmes{
  width: 100%;
  height: 380px;
  margin-bottom: 30px;
}
.pagination_section{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.pagination_section .pagination > li > a, 
.pagination_section .pagination > li > span{
  padding:21px 20px;
    font-family: SourceSansProBold,bpg_mrgvlovani_caps;
    color: #212121;
    font-size: 14px;
}
.pagination_section .pagination > li > a:hover,
 .pagination_section .pagination > li > span:hover, 
 .pagination_section .pagination > li > a:focus,
  .pagination_section .pagination > li > span:focus{
    background-color: #f1673a;
    color: #fff
  }
  .drop_catmenu{
    position: relative;
  }
  .drop_catmenu>ul{
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #f1673a;
     border-right: 1px solid #f1673a;
      border-bottom: 1px solid #f1673a;
      background-color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
      z-index: 5;
      display: none;
  }
  .category_list>ul>li.drop_catmenu:hover ul{
      display: block;
    }
  .drop_catmenu>ul>li{
    display: block;
    text-align: center;
  }
   .drop_catmenu>ul>li>a{
     display: block;
    font-size: 11px;
    color: #212121;
    padding-top:15px;
    padding-bottom: 15px;
       margin-left: 5px;
    margin-right: 5px;
     border-bottom: 1px solid #ebecf0;
   }
  
      .drop_catmenu:hover > a{
        border:0px;
        border-radius: 0px;
        background-color: #f1673a;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

  .category_row {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category_row .category_col {
    height: auto;
    padding: 10px 5px;
    padding-bottom: 20px;
    display: block;
    width: 30.333333%;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #fff;
    overflow:hidden;
}
.category_gallery{
     width: 35%;
    height: 460px;
    float: left;
    margin-right: 33px;
    margin-bottom: 30px;
}
.category_text h2{
  font-size: 30px;
  border-bottom: 1px solid #ebecf0;
  display: inline-block;
  width: 60%;
  padding-bottom: 14px;
}
.category_pdf{
  margin-bottom: 16px;
}
.category_pdf a,.category_properties span{
  color: #212121;
  font-size: 13px;
   font-family: SourceSansProBold,bpg_mrgvlovani_caps;
}
.category_pdf a i{
  color: #f1673a;
  padding-right: 5px;
}
.category_properties span:last-child{
padding: 10px 20px;
background-color: #f1673a;
color: #fff;
border-radius: 5px;
margin-left: 10px;
text-align: right;
}
.category_properties{
  margin-bottom: 25px;
}
.category_text .kera_text h5{
  color: #212121;
  float: left;
  margin: 0;
  line-height: 1.7;
}
#photogallery{
  width: 100%;
  height: 320px;
  border-radius: 3px;
  border:1px solid #ebecf0;
}
.bigPhoto .item{
  height: 320px;
}
.bigPhoto .item img{
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.small_images{
  margin-top: 40px;
  height: 93px;
}
.gallery_box_img{
  height: 90px;
}
#galleryMin.carousel-indicators .active,#imageMin.carousel-indicators .active{
  width: 100%;
  height: 90px;
/*  border: 1px solid #ebecf0;*/
}
#galleryMin.carousel-indicators .active .item,#imageMin.carousel-indicators .active .item{
  width: 100%;
  height: 96px;
  cursor: pointer;
}
#galleryMin.owl-carousel.owl-drag .owl-item,#imageMin.owl-carousel.owl-drag .owl-item{
  border-radius: 8px;
  border: 1px solid #ebecf0;
      height: 104px;
      padding: 5px;
}
#galleryMin.carousel-indicators,#imageMin.carousel-indicators{
  left: 0;
  margin-left: 0;
}
#galleryMin.owl-carousel .owl-item img{
  max-width: 90px;
  max-height: 90px;
cursor: pointer;
opacity: 0.8;
margin: 0 auto;
position: relative;
top: 50%;
transform: translateY(-50%);
}
#galleryMin.carousel-indicators .item .gallery_box_img img:hover,
#imageMin.carousel-indicators .item .gallery_box_img img:hover{
     opacity: 1;
}
 #galleryMin.owl-carousel .owl-nav .owl-next, #galleryMin.owl-carousel .owl-nav .owl-prev,
 #imageMin.owl-carousel .owl-nav .owl-next, #imageMin.owl-carousel .owl-nav .owl-prev{
  position: absolute; 
  top: 38px;
  color: transparent;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color:transparent;
    -webkit-transition:0.3s;
    -ms-transition: 0.3s;
    -moz-transition:0.3s;
    transition:0.3s;
    border: 1px solid #ebecf0;
 }
  #galleryMin.owl-carousel .owl-nav .owl-next:hover, 
  #galleryMin.owl-carousel .owl-nav .owl-prev:hover,
   #imageMin.owl-carousel .owl-nav .owl-next:hover, 
  #imageMin.owl-carousel .owl-nav .owl-prev:hover{
   background-color: #f1673a;
  }
   #galleryMin.owl-carousel .owl-nav .owl-next:hover:after,
    #galleryMin.owl-carousel .owl-nav .owl-prev:hover:after,
    #imageMin.owl-carousel .owl-nav .owl-next:hover:after,
    #imageMin.owl-carousel .owl-nav .owl-prev:hover:after{
    color: #fff;
   }
  #galleryMin.owl-carousel .owl-nav .owl-next:after, 
  #galleryMin.owl-carousel .owl-nav .owl-prev:after,
    #imageMin.owl-carousel .owl-nav .owl-next:after, 
  #imageMin.owl-carousel .owl-nav .owl-prev:after{
      position: relative;
    color: #959595;
    font-family: FontAwesome;
    font-size: 13px;
        right: 22px;
    top: 0px;
  }
    #galleryMin.owl-carousel .owl-nav .owl-next:after,
     #imageMin.owl-carousel .owl-nav .owl-next:after{
      content: "\f105";
    }
     #galleryMin.owl-carousel .owl-nav .owl-prev:after,
    #imageMin.owl-carousel .owl-nav .owl-prev:after{
      content: "\f104";
          right: 24px;
    }
 #galleryMin.owl-carousel .owl-nav .owl-prev, #imageMin.owl-carousel .owl-nav .owl-prev{
      left: -13px;
 }
  #galleryMin.owl-carousel .owl-nav .owl-next, #imageMin.owl-carousel .owl-nav .owl-next{
    right:-17px;
  }
  .project_gallery #photogallery{
    border:0px;
  }
  
    #imageMin.owl-carousel .owl-item img{
    width: 90px;
    height: 90px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
    #imageMin.owl-carousel.owl-drag .owl-item{
      border:0px;
      height: 100px;
    }
    .project_text{
      margin-top: 50px;
    }
    .project_gallery .bigPhoto .item img{
      border-radius: 8px;
    }
    .category_text h2{
      margin-bottom: 40px;
    }

    .project_img{
      border-bottom: 0px;
      width: 95%;
      margin: 0 auto;
      position: relative;
          border-radius: 8px;
           -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
    }
.project_img:hover:before{
  content: ""
}
.project_img:before{
  content: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(26,205,111,0.5);
   -webkit-transition:0.5s;
    -ms-transition: 0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
    .project_dtl{
    width: 100%;
    height: 48px;
    margin: 0 auto;
    text-align: center;
       margin-top: 43px;
   
    
    }
  .project_dtl a{
    padding: 16px 75px;
    border-radius: 8px;
    border:1px solid #f1673a;
     -webkit-transition:0.5s;
    -ms-transition: 0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    color: #212121;
  }
   .project_dtl a:hover{
    background-color: #1acd6f;
    color: #fff;
    border:1px solid #1acd6f;
   }
   #products.owl-carousel .owl-nav .owl-next,
   #products.owl-carousel .owl-nav .owl-prev{
    position: absolute;
        top: 43%;
        color: transparent;
   }
     #products.owl-carousel .owl-nav .owl-next{
             right: -56px;
     }
     #products.owl-carousel .owl-nav .owl-prev{
      left:-30px;
     }
      #products.owl-carousel .owl-nav .owl-next:before,
   #products.owl-carousel .owl-nav .owl-prev:before{\
    position: absolute;
    color: #212121;
    font-size: 30px;
    font-family: FontAwesome;

   }
    #products.owl-carousel .owl-nav .owl-next:before{
      content:"\f105"; 
    }
     #products.owl-carousel .owl-nav .owl-prev:before{
      content:"\f104"; 
    }